<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vladimir Turov</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <div id=menu>
        <div class='item piu' onclick="window.location='/piu/random/menu'">Рандомайзер</div>
        <div class='item piu' onclick="window.location='/piu/stats'">Статистика</div>
        <div class='item standard' onclick="window.location='/'">На главную</div>
    </div>
</body>
</html>
