<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vladimir Turov</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div id=menu>
    <div class='item piu' onclick="window.location='/piu/random?skin=spb'">Бинго, скин "Бюро"</div>
    <div class='item piu' onclick="window.location='/piu/random?skin=msk'">Бинго, скин "Южка"</div>
    <div class='item piu' onclick="window.location='/piu/random?skin=one_spb'">Рандомайзер, скин "Бюро"</div>
    <div class='item piu' onclick="window.location='/piu/random?skin=one_msk'">Рандомайзер, скин "Южка"</div>
    <div class='item standard' onclick="window.location='/piu'">Назад</div>
</div>
</body>
</html>
