<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pump it Up Randomizer</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link th:replace="piu/parts/skins :: ${skin}(true)">
    <link rel="application/x-font-ttf" href="/fonts/tahoma.ttf">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
</head>
<body>
<div th:replace="piu/parts/preferences/variables :: #variables"></div>

<div th:replace="piu/parts/bingo :: bingo"></div>

<br>

<div th:replace="piu/parts/settings :: settings"></div>

</body>

<div th:replace="piu/parts/skins :: ${skin}(false)"></div>

</html>