<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bingo" id="field" class="field">
    <div th:each="row : ${#numbers.sequence(0, rows - 1, 1)}" th:id="${row}" class="row">
        <th:block th:each="col : ${#numbers.sequence(0, columns - 1, 1)}">
            <div th:replace="piu/parts/cell :: cell(${row + '' + col})"></div>
        </th:block>
    </div>

    <script id="song-list" type="text/javascript" th:inline="javascript">
        const songs = [[${songs}]];
    </script>

    <script id="setup-cells" type="text/javascript" th:inline="javascript">
        const rows = [[${rows}]];
        const columns = [[${columns}]];
        const width = [[${width}]];
        const height = [[${height}]];

        const ALL_CELLS = [];
        const cellsToCharts = {};
        const selectedCharts = [];
        const chartIdToChart = {};

        const centerRow = rows / 2 | 0;
        const centerCol = columns / 2 | 0;

        for (let r = 0; r < rows; r++) {
            for (let c = 0; c < columns; c++) {
                let cellId = r + '' + c;
                let cell = document.getElementById(cellId);
                //e.style["margin-left"] = (size * c) + "px";
                //e.style["margin-top"] = (size * r) + "px";
                cell.style["width"] = width + "px";
                cell.style["height"] = height + "px";

                if (rows > 1 && columns > 1 && r === centerRow && c === centerCol) {
                    let center = document.getElementById(cellId);
                    center.classList.add("center");

                    cell.innerHTML =
                        '<div id="p1name" class="p1">P1</div>' +
                        '<div id="p2name" class="p2">P2</div>' + cell.innerHTML;

                } else {
                    ALL_CELLS.push(cellId);
                    cellsToCharts[cellId] = null;
                }
            }
        }

    </script>

    <script type="text/javascript" th:inline="javascript">

        const nonInterestingCls = "non-interesting";
        const determinedCls = "determined";

        const mixFirstToPrex3 = "1st - Prex 3";
        const mixExceedToNXA = "Exceed - NXA";
        const mixFiesta = "Fiesta 1/Ex/2";
        const mixPrime = "Prime";
        const mixPrime2 = "Prime 2";
        const mixXX = "XX";

        const mixGroup = {
            "1st": mixFirstToPrex3,
            "2nd": mixFirstToPrex3,
            "3rd": mixFirstToPrex3,
            "The O.B.G.": mixFirstToPrex3,
            "Collection": mixFirstToPrex3,
            "Perfect Collection": mixFirstToPrex3,
            "Extra": mixFirstToPrex3,
            "Premiere": mixFirstToPrex3,
            "Prex": mixFirstToPrex3,
            "Rebirth": mixFirstToPrex3,
            "Premiere 2": mixFirstToPrex3,
            "Prex 2": mixFirstToPrex3,
            "Premiere 3": mixFirstToPrex3,
            "Prex 3": mixFirstToPrex3,
            "Exceed": mixExceedToNXA,
            "Exceed 2": mixExceedToNXA,
            "Zero": mixExceedToNXA,
            "NX": mixExceedToNXA,
            "NX2": mixExceedToNXA,
            "NXA": mixExceedToNXA,
            "Fiesta": mixFiesta,
            "Fiesta Ex": mixFiesta,
            "Fiesta 2": mixFiesta,
            "Prime": mixPrime,
            "Prime2": mixPrime2,
            "XX": mixXX,
        };

        const shortened = {
            "Can-can ~Orpheus in The Party Mix~": "Can-Can ~OiTPM~",
            "FOUR SEASONS OF LONELINESS verβ feat. sariyajin": "FOUR SEASONS OF LONELINESS",
            "DESTRUCIMATE": "DESTRUCI- MATE",
            "The Quick Brown Fox Jumps Over The Lazy Dog": "TQBFJOTLD",
            "Hypnosis(SynthWulf Mix)": "Hypnosis (SynthWulf Mix)",
            "Nakakapagpabagabag": "Nakakapag- pabagabag"
        }

        const fontchange = {
            "Turkey March -Minimal Tunes-": "21px",
            "Meteo5cience": "21px",
            "Love is a danger zone (try to B.P.M.)": "21px",
            "Reminiscence": "21px",
            "Blaze emotion (Band version)": "21px",
            "Repeatorment Remix": "20px",
            "Indestructible": "21px",
        }


        function isMainDiagonalCell(cellId) {
            return cellId[0] === cellId[1];
        }

        function isSideDiagonalCell(cellId) {
            return Number(cellId[0]) + Number(cellId[1]) === rows - 1;
        }

        function isDiagonalCell(cellId) {
            return isMainDiagonalCell(cellId) || isSideDiagonalCell(cellId);
        }

        function getDiagonalCells(cellId) {
            if (isMainDiagonalCell(cellId)) {
                return ALL_CELLS.filter(c => c !== cellId && isMainDiagonalCell(c));
            } else if (isSideDiagonalCell(cellId)) {
                return ALL_CELLS.filter(c => c !== cellId && isSideDiagonalCell(c));
            }
            return undefined;
        }

        function getSelectedCells() {
            return ALL_CELLS.filter(c => isCellSelected(c));
        }

        function isCellEmpty(cellId) {
            return cellsToCharts[cellId] === null;
        }

        function getInProgressCells() {
            return ALL_CELLS.filter(c => isCellInProgress(c));
        }

        function getCellsToChange() {
            let emptyCells = ALL_CELLS.filter(c => isCellEmpty(c));

            if (emptyCells.length > 0) {
                return emptyCells;
            }

            let cellsToChange = getSelectedCells();
            if (cellsToChange.length > 0) {
                return cellsToChange;
            }
            return getInProgressCells();
        }

        function getCandidatesCharts() {
            let candidates = [];

            for (let song of songs) {
                for (let chart of song.charts) {

                    if (selectedCharts.includes(chart.chartId)) {
                        continue;
                    }

                    let chartMix = mixGroup[chart.mix];
                    if (chartMix === mixFirstToPrex3) {
                        if (!isFirstToPrex3) {
                            continue;
                        }
                    } else if (chartMix === mixExceedToNXA) {
                        if (!isExceedToNXA) {
                            continue;
                        }
                    } else if (chartMix === mixFiesta) {
                        if (!isFiesta){
                            continue;
                        }
                    } else if (chartMix === mixPrime) {
                        if (!isPrime) {
                            continue;
                        }
                    } else if (chartMix === mixPrime2) {
                        if (!isPrime2) {
                            continue;
                        }
                    } else if (chartMix === mixXX) {
                        if (!isXX) {
                            continue;
                        }
                    } else {
                        throw Error("Can't find Mix '" + chart.mix + "'");
                    }

                    let songCut = song.song.cut;
                    if (songCut === "Arcade") {
                        if (!isArcade) {
                            continue;
                        }
                        songCut = '';
                    } else if (songCut === "Short Cut") {
                        if (!isShortCut) {
                            continue;
                        }
                        songCut = 'Short';
                    } else if (songCut === "Full Song") {
                        if (!isFullSong) {
                            continue;
                        }
                        songCut = 'Full';
                    } else if (songCut === "Remix") {
                        if (!isRemix) {
                            continue;
                        }
                    } else {
                        throw Error("Can't find Cut '" + songCut + "'");
                    }

                    let difficulty = chart.difficulty.difficulty;
                    if (difficulty < minDifficulty || difficulty > maxDifficulty) {
                        continue;
                    }

                    let coop = chart.difficulty.coop;
                    if (coop && !isCoop) {
                        continue;
                    }
                    if (!coop && isCoop) {
                        continue;
                    }

                    let performance = chart.difficulty.performance;
                    if (performance && !isPerformance && !isOnlyPerformance) {
                        continue;
                    }
                    if (!performance && isOnlyPerformance) {
                        continue;
                    }

                    let single = chart.difficulty.single;
                    if (single && !isSingle) {
                        continue;
                    }

                    let double = chart.difficulty.double;
                    if (double && !isDouble) {
                        continue;
                    }

                    candidates.push({
                        name: song.song.name,
                        diff: chart.difficulty.name,
                        diffNum: difficulty,
                        cut: songCut,
                        card: song.song.card,
                        chartId: chart.chartId,
                        single: single,
                        double: double,
                        performance: performance,
                        coop: coop,
                    });
                }
            }

            return candidates;
        }

        function shuffleCells(cells) {
            return cells
                .map(value => ({ value, sort: Math.random() }))
                .sort((a, b) => a.sort - b.sort)
                .map(({ value }) => value);
        }

        function getChartsFromCells(cellsIds) {
            return cellsIds
                .map(c => cellsToCharts[c])
                .filter(c => c !== null)
                .map(c => chartIdToChart[c]);
        }

        function getCellsSameRow(cellId) {
            return ALL_CELLS.filter(c => c !== cellId && c[0] === cellId[0]);
        }

        function getCellsSameCol(cellId) {
            return ALL_CELLS.filter(c => c !== cellId && c[1] === cellId[1]);
        }

        function doesMakeSameLine(cellId, wantSingle) {
            let sameRowCells = getCellsSameRow(cellId);
            let sameRowCharts = getChartsFromCells(sameRowCells);

            if (sameRowCells.length === sameRowCharts.length &&
                sameRowCharts.every(c => wantSingle && c.single || !wantSingle && c.double)) {
                return true;
            }

            let sameColCells = getCellsSameCol(cellId);
            let sameColCharts = getChartsFromCells(sameColCells);

            if (sameColCells.length === sameColCharts.length &&
                sameColCharts.every(c => wantSingle && c.single || !wantSingle && c.double)) {
                return true;
            }

            if (isDiagonalCell(cellId)) {
                let sameDiagonalCells = getDiagonalCells(cellId);
                let sameDiagonalCharts = getChartsFromCells(sameDiagonalCells);

                if (sameDiagonalCells.length === sameDiagonalCharts.length &&
                    sameDiagonalCharts.every(c => wantSingle && c.single || !wantSingle && c.double)) {
                    return true;
                }
            }

            return false;
        }

        function chooseSinglesOrDoubles(cellId, sumSingles, sumDoubles) {
            if (isNoSameLine && doesMakeSameLine(cellId, true)) {
                return false;
            }
            if (isNoSameLine && doesMakeSameLine(cellId, false)) {
                return true;
            }

            let totalSum = sumSingles + sumDoubles;
            let currSinglePercentage;
            let currDoublePercentage;

            if (totalSum === 0) {
                currSinglePercentage = 0.5;
                currDoublePercentage = 0.5;
            } else {
                currSinglePercentage = sumSingles / (sumSingles + sumDoubles);
                currDoublePercentage = sumDoubles / (sumSingles + sumDoubles);
            }

            let diffPercentage = currSinglePercentage - currDoublePercentage;

            let improvedSinglePercentage = singlePercentage - diffPercentage;
            let randomSingleDouble = Math.random();

            // returns true if chooses Singles, returns false if chooses Doubles
            return improvedSinglePercentage > randomSingleDouble;
        }

        function chooseDifficulty(sumDiff, sumAllDiff) {
            let updatedPercentagesDifficulties = {};
            for (let currDiff in sumDiff) {
                if (sumAllDiff === 0) {
                    updatedPercentagesDifficulties[currDiff] = percents[currDiff];
                    continue;
                }

                let currDiffPercentage = sumDiff[currDiff] / sumAllDiff;
                let percentageDifference = currDiffPercentage - percents[currDiff];
                updatedPercentagesDifficulties[currDiff] = percents[currDiff] - percentageDifference;
            }

            while (true) {
                let randomDifficulty = Math.random();

                for (let currDiff in updatedPercentagesDifficulties) {
                    let currPercents = updatedPercentagesDifficulties[currDiff];
                    randomDifficulty -= currPercents;
                    if (randomDifficulty < 0) {
                        return Number(currDiff);
                    }
                }
            }
        }

        function filterCandidates(candidates, searchSingles, searchDoubles, chosenDifficulty) {
            let nonSelectedCandidates = candidates
                .filter(c => !selectedCharts.includes(c.chartId));

            let filteredCandidates = nonSelectedCandidates
                .filter(c =>
                    (c.single && searchSingles || c.double && searchDoubles) &&
                    c.diffNum === chosenDifficulty ||
                    c.coop
                );

            if (filteredCandidates.length === 0) {
                filteredCandidates = nonSelectedCandidates
            }

            return filteredCandidates;
        }

        function randomize() {
            let cellsToChange = shuffleCells(getCellsToChange());
            let candidates = getCandidatesCharts();

            let sumSingles = 0;
            let sumDoubles = 0;
            let sumDiff = {};
            let sumAllDiff = 0;
            for (let perc in percents) {
                sumDiff[perc] = 0;
            }

            let cannotRandomizeCellSameLine = false;

            for (let cellId of cellsToChange) {
                if (candidates.length === 0) {
                    return;
                }

                let searchSingles = isSingle;
                let searchDoubles = isDouble;

                if (isCoop) {
                    searchSingles = false;
                    searchDoubles = false;
                }

                if (isSingle && isDouble) {
                    searchSingles = chooseSinglesOrDoubles(cellId, sumSingles, sumDoubles);
                    searchDoubles= !searchSingles;
                } else if (isNoSameLine) {
                    if (isSingle && !isDouble && doesMakeSameLine(cellId, true) ||
                        isDouble && !isSingle && doesMakeSameLine(cellId, false)) {
                        cannotRandomizeCellSameLine = true;
                        continue;
                    }
                }

                let chosenDifficulty = chooseDifficulty(sumDiff, sumAllDiff);

                let newerCandidates = filterCandidates(
                    candidates, searchSingles, searchDoubles, chosenDifficulty);

                if (newerCandidates.length === 0) {
                    break;
                }

                let itemIndex = Math.floor(Math.random() * newerCandidates.length);
                let item = newerCandidates[itemIndex];

                if (item.single) {
                    sumSingles++;
                }

                if (item.double) {
                    sumDoubles++;
                }

                sumAllDiff++;
                if (item.diffNum in sumDiff) {
                    sumDiff[item.diffNum]++;
                }

                writeChartInfoToCell(cellId, item);
            }

            if (initialRandomize) {
                document.getElementById("random").innerHTML = "Rerandom!";
                initialRandomize = false;
            }

            handleRedNoSameLineText(cannotRandomizeCellSameLine);

            lockIrrelevantCells();
            determineNotInterestingCells();
        }

        function clicked(cellId) {
            let songname = document.getElementById(cellId + "song");
            if (songname.innerHTML === '') {
                return;
            }

            let selectedDiv = document.getElementById(cellId + "selected");

            if (selectedDiv.style.display === 'block') {
                selectedDiv.style.display = '';
            } else {
                selectedDiv.style.display = 'block';
            }

            determineNotInterestingCells();
        }

        function isCellSelected(cellId) {
            let selected = document.getElementById(cellId + "selected");
            return selected.style.display === 'block';
        }

        function isCellInProgress(cellId) {
            let inprogress = document.getElementById(cellId + "inprogress");
            return inprogress.style.display === 'block';
        }

        function isCellLocked(cellId) {
            let lock = document.getElementById(cellId + "lock");
            return lock.style.display === 'block';
        }

        function lockCell(cellId) {
            let lock = document.getElementById(cellId + "lock");
            lock.style.display = 'block';

            let cell = document.getElementById(cellId);
            cell.classList.add("locked");
        }

        function unlockCell(cellId) {
            let lock = document.getElementById(cellId + "lock");
            lock.style.display = '';

            let cell = document.getElementById(cellId);
            cell.classList.remove("locked");
        }

        function isCellHasResult(cellId) {
            let blue = document.getElementById(cellId + "bluewin");
            let red = document.getElementById(cellId + "redwin");
            let draw = document.getElementById(cellId + "draw");

            return blue.style.display === 'block'
                || red.style.display === 'block'
                || draw.style.display === 'block';
        }

        function isCellBlueWin(cellId) {
            let blue = document.getElementById(cellId + "bluewin");
            return blue.style.display === 'block';
        }

        function isCellRedWin(cellId) {
            let red = document.getElementById(cellId + "redwin");
            return red.style.display === 'block';
        }

        function resetCell(cellId) {
            unlockCell(cellId);

            let cell = document.getElementById(cellId);
            cell.classList.remove(determinedCls);
            cell.classList.remove(nonInterestingCls);

            let blue = document.getElementById(cellId + "bluewin");
            let red = document.getElementById(cellId + "redwin");
            let draw = document.getElementById(cellId + "draw");
            let selected = document.getElementById(cellId + "selected");
            let inprogress = document.getElementById(cellId + "inprogress");
            let lock = document.getElementById(cellId + "lock");

            for (let item of [blue, red, draw, selected, inprogress, lock]) {
                if (item.style.display === 'block') {
                    item.style.display = '';
                }
            }
        }

        function changeCellState(cls) {
            let foundSelected = false;
            const isDetermination = ['redwin', 'bluewin', 'draw'].includes(cls);

            for (let cellId of ALL_CELLS) {
                if (!isCellSelected(cellId)) {
                    continue;
                }

                foundSelected = true;

                resetCell(cellId);

                if (cls) {
                    document.getElementById(cellId + cls).style.display = 'block';

                    if (isDetermination) {
                        document.getElementById(cellId).classList.add(determinedCls);
                    }
                }
            }

            if (!foundSelected && isDetermination) {
                for (let cellId of ALL_CELLS) {
                    if (isCellInProgress(cellId)) {
                        resetCell(cellId);
                        document.getElementById(cellId + cls).style.display = 'block';
                        document.getElementById(cellId).classList.add(determinedCls);
                    }
                }
            }

            outerIf:
                if (!foundSelected && cls === 'inprogress' &&
                    ALL_CELLS.every(c => !isCellInProgress(c))) {

                    let availableCells = ALL_CELLS
                        .filter(c => !isCellEmpty(c) && !isCellHasResult(c) && !isCellLocked(c));

                    if (availableCells.length === 0) {
                        break outerIf;
                    }

                    let itemIndex = Math.floor(Math.random() * availableCells.length);
                    let item = availableCells[itemIndex];

                    document.getElementById(item + "inprogress").style.display = 'block';
                }

            lockIrrelevantCells();
            determineNotInterestingCells();
        }

        function determineNotInterestingCells() {
            let selectedCells = getSelectedCells();

            for (let cellId of ALL_CELLS) {
                let cell = document.getElementById(cellId);

                if (selectedCells.length === 0) {
                    cell.classList.remove(nonInterestingCls)
                    continue;
                }

                if (!isCellSelected(cellId) && !isCellInProgress(cellId) && !isCellHasResult(cellId)) {
                    cell.classList.add(nonInterestingCls);
                } else {
                    cell.classList.remove(nonInterestingCls);
                }
            }
        }

        function lockIrrelevantCells() {
            if (!isLockCharts) {
                return;
            }

            for (let cellId of ALL_CELLS) {
                if (isCellLocked(cellId)) {
                    unlockCell(cellId);
                }

                if (isCellEmpty(cellId) ||
                    isCellHasResult(cellId) ||
                    isCellInProgress(cellId)) {
                    continue;
                }

                let rowLock = false;
                let colLock = false;
                let diagLock = false;

                let sameRow = getCellsSameRow(cellId);

                if (sameRow.some(c => isCellBlueWin(c)) &&
                    sameRow.some(c => isCellRedWin(c))) {
                    rowLock = true;
                }

                let sameCol = getCellsSameCol(cellId);

                if (sameCol.some(c => isCellBlueWin(c)) &&
                    sameCol.some(c => isCellRedWin(c))) {
                    colLock = true;
                }

                if (isDiagonalCell(cellId)) {
                    let diagonalCells = getDiagonalCells(cellId);

                    if (diagonalCells.some(c => isCellBlueWin(c)) &&
                        diagonalCells.some(c => isCellRedWin(c))) {
                        diagLock = true;
                    }
                } else {
                    diagLock = true;
                }

                if (rowLock && colLock && diagLock) {
                    lockCell(cellId);
                }
            }
        }

        function unlockAllCells() {
            ALL_CELLS
                .filter(c => isCellLocked(c))
                .forEach(c => unlockCell(c));
        }

        function writeChartInfoToCell(cellId, chart) {
            makeNewCell(cellId);

            let cell = document.getElementById(cellId);
            let songname = document.getElementById(cellId + "song");
            let cutname = document.getElementById(cellId + "cut");
            let diffname = document.getElementById(cellId + "diff");

            let name = chart.name;
            if (name in shortened) {
                name = shortened[name];
            }

            songname.innerHTML = name;
            songname.style['font-size'] = '';

            if (chart.name in fontchange) {
                songname.style['font-size'] = fontchange[chart.name];
            }

            cutname.innerHTML = chart.cut;
            diffname.innerHTML = chart.diff;

            if (chart.single) {
                diffname.classList.add("single");
            }
            if (chart.double) {
                diffname.classList.add("double");
            }
            if (chart.performance) {
                diffname.classList.add("performance");
            }
            if (chart.coop) {
                diffname.classList.add("coop");
            }

            cell.style['background-image'] = "url(" + chart.card + ")";

            selectedCharts.push(chart.chartId);
            cellsToCharts[cellId] = chart.chartId;
            chartIdToChart[chart.chartId] = chart;
        }

        function makeNewCell(cellId) {
            resetCell(cellId);

            let cell = document.getElementById(cellId);
            let songname = document.getElementById(cellId + "song");
            let cutname = document.getElementById(cellId + "cut");
            let diffname = document.getElementById(cellId + "diff");

            diffname.classList.remove("single");
            diffname.classList.remove("double");
            diffname.classList.remove("performance");
            diffname.classList.remove("coop");

            if (songname.innerHTML === '') {
                return;
            }

            let chartId = cellsToCharts[cellId];
            selectedCharts.splice(selectedCharts.indexOf(chartId), 1);
            cellsToCharts[cellId] = null;

            songname.innerHTML = '';
            songname.style['font-size'] = '';
            cutname.innerHTML = '';
            diffname.innerHTML = '';
            cell.style['background-image'] = "";
        }

        function clearTable() {
            resetSettings();

            for (let cellId of ALL_CELLS) {
                makeNewCell(cellId);
            }
        }

    </script>

</div>