<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="settings">

    <script type="text/javascript" th:inline="javascript">
        let includeMix = false;
        let includeCut = false;
        let includeBpm = false;

        let isLockingSupported = false;
        let isNoSameLineSupported = false;
        let isNamesSupported = false;

        let useHighResImages = false;
    </script>

    <div th:if="${isBingo}">
        <div id="switchbuttons" style="float: left; width: 90px">
            <button onclick="switch_settings()" style="float: left; width: 100%">
                Settings
            </button>
        </div>

        <div id="managerbuttons" style="padding-left: 15px">
            <button id="makeinprogress" class="makeinprogress" onclick="changeCellState('inprogress')">In progress</button>
            <button id="makeredwin" class="red" onclick="changeCellState('redwin')">Red wins</button>
            <button id="makebluewin" class="blue" onclick="changeCellState('bluewin')">Blue wins</button>
            <button id="makedraw" class="draw" onclick="changeCellState('draw')">Draw</button>
            <button id="resetcell" onclick="changeCellState('reset')">Reset</button>
        </div>

        <script th:inline="javascript">
            document.getElementById("managerbuttons").style.display = 'none';
            function switch_settings() {
                let settings = document.getElementById("settings");
                let managed = document.getElementById("managerbuttons");
                if (managed.style.display === 'none') {
                    settings.style.display = 'none'
                    managed.style.display = 'block';
                } else {
                    settings.style.display = 'block';
                    managed.style.display = 'none';
                }
            }
        </script>
    </div>

    <div id="settings" class="settings_block">
        <div th:unless="${altLayout}">
            <div class="settings-section">
                <div th:if="${isBingo}">
                    <div th:replace="piu/parts/settings/names :: names"></div>
                </div>
                <div th:replace="piu/parts/settings/difficulty :: minmax"></div>
                <div th:replace="piu/parts/settings/bpm :: bpmminmax"></div>
                <div th:replace="piu/parts/settings/difficulty :: percents"></div>
            </div>

            <div class="settings-section">
                <div th:replace="piu/parts/settings/modes :: single_double"></div>
                <div th:if="${isBingo}">
                    <div th:replace="piu/parts/settings/modes :: nosameline"></div>
                </div>
                <div th:replace="piu/parts/settings/modes :: percents"></div>
            </div>

            <div class="settings-section">
                <div th:replace="piu/parts/settings/mix :: mix"></div>
            </div>

            <div class="settings-section">
                <div th:replace="piu/parts/settings/cut :: cut"></div>
                <br>
                <div th:replace="piu/parts/settings/buttons :: randomize"></div>
            </div>

            <div class="settings-section">
                <div th:replace="piu/parts/settings/coop :: coop"></div>
                <div th:replace="piu/parts/settings/performance :: performance"></div>
                <div th:if="${isBingo}">
                    <div th:replace="piu/parts/settings/misc :: lock_charts"></div>
                </div>
                <div th:unless="${isBingo}">
                    <br>
                </div>
                <br>
                <div th:replace="piu/parts/settings/buttons :: clear"></div>
            </div>
        </div>

        <div th:if="${altLayout}">
            <div class="setting-line">
                <div class="setting-container-left">
                    <div th:replace="piu/parts/settings/modes :: single_double"></div>
                </div>

                <div id="sdperc_container" class="setting-container-left">
                    <div th:replace="piu/parts/settings/modes :: percents"></div>
                </div>

                <div class="setting-container-right">
                    <div th:replace="piu/parts/settings/difficulty :: minmax"></div>
                </div>
            </div>

            <div th:replace="piu/parts/settings/buttons :: randomize"></div>

            <details>
                <summary>&nbspПроценты</summary>
                <div th:replace="piu/parts/settings/difficulty :: percents"></div>
            </details>

            <hr>

            <details>
                <summary>&nbspМиксы и моды</summary>
                <div th:replace="piu/parts/settings/mix :: mix"></div>

                <div id="bpmdiv" style="float: left;">
                    <div th:replace="piu/parts/settings/bpm :: bpmminmax"></div>
                </div>

                <hr>

                <div style="float: left;">
                    <div th:replace="piu/parts/settings/cut :: cut"></div>
                </div>
                <div style="float: left">
                    <div th:replace="piu/parts/settings/performance :: performance"></div>
                    <div th:replace="piu/parts/settings/coop :: coop"></div>
                </div>
            </details>
        </div>

    </div>

    <script type="text/javascript" th:inline="javascript">
        let initialRandomize = true;

        function resetSettings() {
            initialRandomize = true;
            document.getElementById("random").innerHTML = randomizeText;

            if (isNoSameLineSupported) {
                changeNoSameLine = initialChangeNoSameLine;
                document.getElementById("isnosamelinelabel").classList.remove("red_text");
            }
        }

    </script>

</div>