.field {
    display: table;
    width: auto;
    border: 2px solid #1C6EA4;
    background: white;
}

.row {
    display: table-row;
    width: auto;
}

.cell {
    display: table-column;
    float: left;
    border: 2px solid #1C6EA4;
    background-size: cover;
    font-family: tahoma, serif;
    font-weight: bold;
    font-size: 22px;
    user-select: none;
    position: relative;
}

.filler {
    position: absolute;
    width: 150px;
    height: 105px;
    display: none;
}

.center {
    display: block;
}

.settings_block {
    display: none;
    border: 2px solid #1C6EA4;
    float: left;
    padding: 5px;
    background: white;
}

#percents {
    padding: 5px;
}

#managerbuttons button {
    float: left;
    width: 100px;
    margin-left: 15px
}

input[type='number'] {
    width: 40px;
}

input[type='text'] {
    width: 40px;
}

.red_text {
    color: red;
}

.cellinfo {
    height: 100%;
}

.p1 {
    font-size: 30px;
    margin: 0;
    text-align: right;
    padding: 2px 8px;
    display: block;
}

.p2 {
    font-size: 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 2px 8px;
    display: block;
}