body {
    font-family: 'PT Sans Narrow';
}

.field {
    display: inline-block;
    border: 2px solid #1C6EA4;
    background: white;
}

.row {
    display: flex;
}

.cell {
    border: 2px solid #1C6EA4;
    background-size: 100% 100%;
    font-family: tahoma, serif;
    font-weight: bold;
    font-size: 22px;
    user-select: none;
    position: relative;
    display: inline-block;
}

.filler {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.settings_block {
    border: 2px solid #1C6EA4;
    float: left;
    padding: 5px;
    background: white;
}

#difficulty_percents {
    padding: 5px;
}

#managerbuttons button {
    float: left;
    width: 100px;
    margin-left: 15px
}

input[type='number'] {
    width: 40px;
}

input[type='text'] {
    width: 40px;
}

.red_text {
    color: red;
}

.cellinfo, .song_background {
    height: 100%;
    background-size: 100% 100%;
}

.p1 {
    font-size: 30px;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 0;
    display: block;
    width: 100%;
    padding-right: 8px;
    padding-top: 5px;
}

.p2 {
    font-size: 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding-left: 8px;
    padding-bottom: 5px;
    display: block;
}

.players_names {
    background: linear-gradient(35deg, #e71d30a8 0%, #e71d30a8 50%, #0d96ffa8 50%, #0d96ffa8 100%);
}

.settings_block {
    margin-left: 10px;
}

.settings-section {
    float: left;
}

.settings-section:not(:last-child) {
    padding-right: 15px;
}

#random {
    width: 100px;
    margin-top: 1px;
}

#clear_all {
    width: 100%;
}

#mindifflabel, #maxdifflabel, #minbpmlabel, #maxbpmlabel, #p1namelabel, #p2namelabel {
    width: 40px;
    float: left;
    display: flex;
    justify-content: center;
}

#maxdifflabel, #maxbpmlabel, #p2namelabel {
    margin-left: 5px;
}

#mindiff, #maxdiff, #minbpm, #maxbpm {
    float: left;
}

#minmaxdifficulties > div {
    float: left;
}

#sperc {
    margin-left: 2px;
}

.selected {
    pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: center;
}

#settings {
    margin-top: -4px;
}

#configuration {
    margin-top: -4px;
}

.randomizer_text, .randomizer_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.randomizer_text {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.randomizer_icon {
    align-items: end;
    justify-content: end;
    font-size: 30px;
}

.text {
    pointer-events: none;
    display: flex;
}

.text > div {
    z-index: 11;
    pointer-events: all;
}
