

body {
    margin: 0;
    font-family: tahoma, serif;
}

.field {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}

.bracket {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.bracketname {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 4px coral;
    float: left;
    height: inherit;
    font-size: 50px;
    min-width: 120px;
}

.songs {
    width: 88%;
    padding-left: 2%;
    height: auto;
    float: left;
}

.cell {
    position: relative;
    width: 150px;
    height: 115px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grade {
    height: 100%;
    width: 100%;
    color: #6b6b6b;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    font-family: calibri, serif;
    margin-left: -10px;
    letter-spacing: -0.26em;;
}

.grade:hover {
    color: #6b6b6b00;
    text-shadow: -2px -2px 0 #ffffff00, 2px -2px 0 #ffffff00, -2px 2px 0 #ffffff00, 2px 2px 0 #ffffff00;
}

.gold {
    color: #fff001;
}

.pass {
    color: #0032ff;
}

#settings {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    display: flex;
}

input[type=text] {
    width: 100px;
    margin-right: 10px;
    font-size: 15px;
    font-family: helvetica, serif;
    text-align: center;
    height: 20px;
    float: left;
}

button {
    float: left;
    margin-left: 10px;
}

#settings, #latest {
    margin: 10px;
}

#usage {
    color: black;
}


.grade_img {
    position: absolute;
    top: 52%;
    left: 60%;
    transform: translate(-50%, -50%);

    /* Define your grade size */
    height: 56%;
    width: 100%;

    /* Position your grade inside the cell */


    /* If the image is not the exact size of the div, you might need these */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Initially show the grade */
    opacity: 1;

    /* Transition for smooth disappearing */
    transition: opacity .5s ease;
}

.cell:hover .grade_img {
    /* On hover, hide the grade */
    opacity: 0;
}




select {
    width: 100px;
    border-radius: 4px;
    margin-left: 10px;
}

/* Style the dropdown arrow */
select::-ms-expand {
    display: none;
}
select:hover {
    cursor: pointer;
}
